bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/MusicStoreProject/FileContentIndex/7c2806d0-5a6c-42a9-a59f-f4377dad1bd6.vsidx
/.vs/MusicStoreProject/FileContentIndex/59f08b89-e95e-4934-8488-7010da171610.vsidx
/.vs/MusicStoreProject/FileContentIndex/7d0264f3-c7b4-4028-bf2c-6dbbc05553d4.vsidx
/.vs/MusicStoreProject/FileContentIndex/95da439c-70cc-4728-a89b-0a55b19b5ce3.vsidx
/.vs/MusicStoreProject/FileContentIndex/fb61dde5-a038-439d-9e7f-4681f5045304.vsidx
